@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  --color-primary: #eeeeee;
}

html {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 1.8rem;

  background: #457fca;
  background: -webkit-linear-gradient(to right, #5691c8, #457fca);
  background: linear-gradient(to right, #5691c8, #457fca);
  color: var(--color-primary);
}

.container {
  width: 80%;
  padding: 20px;
  margin: 70px auto;
  animation: down 300ms ease-out;
  text-align: center;
}

@keyframes down {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
  }
}

input[type='text'] {
  width: 100%;
  font-size: 1.6rem;
  margin-top: 35px;
  border: 0;
  border-bottom: 1px solid var(--color-primary);
  color: var(--color-primary);
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
}

input[type='text']:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0);
}

@media(min-width: 1100px) {
  .container {
    width: 35%;
    margin: 200px auto;
    animation: down 300ms ease-out;
    text-align: center;
  }
}